<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Link -->
      <package
            uri="https://coastalhacking.us/corvus/links"
            class="prototype.link.model.LinksPackage"
            genModel="model/Link.xcore"/>
   </extension>

</plugin>
