<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="prototype.link.e4.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
    <specification
          annotationType="protoype.link.annotation"
			colorPreferenceKey="linkPointIndicationColor"
			colorPreferenceValue="0,128,0"
			contributesToHeader="true"
			highlightPreferenceKey="linkIndicationHighlighting"
			highlightPreferenceValue="false"
			icon="icons/fugue/shadowless/arrow-000-medium.png"
			includeOnPreferencePage="true"
			isGoToNextNavigationTarget="true"
			isGoToNextNavigationTargetKey="isLinkGoToNextNavigationTarget"
			isGoToPreviousNavigationTarget="true"
			isGoToPreviousNavigationTargetKey="isLinkGoToPreviousNavigationTarget"
			label="Links"
			overviewRulerPreferenceKey="linkPointIndicationOverviewRuler"
			overviewRulerPreferenceValue="true"
			presentationLayer="6"
			showInNextPrevDropdownToolbarAction="true"
			showInNextPrevDropdownToolbarActionKey="showLinkInNextPrevDropdownToolbarAction"
			symbolicIcon="bookmark"
			textPreferenceKey="linkPointIndication"
			textPreferenceValue="true"
			textStylePreferenceKey="linkTextStyle"
			textStylePreferenceValue="UNDERLINE"
			verticalRulerPreferenceKey="linkPointIndicationVerticalRuler"
			verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="prototype.link.api.linkMarker"
            name="protoype.link.annotation">
      </type>
   </extension>

</plugin>
